.heroSection {
    background-color: #fdd460;
    
    display: flex;
    flex-direction: row;
    padding: 0 10%;
}

.leftSection{
    height: 700px;
    width: 50%;
    
}

.leftSection img {
    margin-left: auto;
    margin-right: auto;
    display: block;
   
}

.rightSection{
    height: 700px;
    width: 50%;
    padding: 100px 0;
    
}

.hello {
    font-size: 4.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-color: white;
    padding: 30px;
}

.introduction {
    font-size: 3.75rem;
    letter-spacing: normal;
  
    font-weight: 400;
    text-transform: none;
    margin: 14px 41px 0 0;
}

.freepik{
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 1rem;
    margin: 7px auto 0 0;
} 

.readMore {
    text-transform: uppercase;
    letter-spacing: 4px;
    border:2px solid black;
    font-weight: 700;
    align-self: center;
    background-image: none;
    margin: 29px auto 0 0; 
    padding: 10px 52px 10px 51px;
    background-color: white;
    text-decoration: none;
    color: black;
    display: inline-block;
}