.navbar { 
    width: 100%; 
    height: 60px; 
    background-color: #1976d2;
    color: white;
    display: flex;
    flex-direction: row;
}

.navbar ul { 
    text-decoration: none;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar ul li {
    margin: 0 20px;
    cursor: pointer;
    width: 150px;
    text-align: center;
    line-height: 60px;
}

.navbar ul li a:hover {
   text-decoration: underline;
}

.emailDisplay {
    line-height:60px;
}